@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #282c33;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 0.75rem;
  background-clip: padding-box;
  background-color: #abb2bf77;
}
