---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Zulmy Azhary | Front End Developer">
	<Navbar />
  <main class="font-firaCode">
    <h1>Content</h1>
  </main>
</Layout>