---
import AboutMe from "@components/organisms/AboutMe.astro";
import Hero from "@components/organisms/Hero.astro";
import Quote from "@components/organisms/Quote.astro";
import Layout from "@components/templates/Layout.astro";
---

<Layout title="Front End Developer">
  <main class="mt-36 md:mt-44 xl:mt-56 flex flex-col gap-y-20 md:gap-y-28">
    <Hero />
    <Quote />
    <AboutMe />
  </main>
</Layout>
