---
const links = ["home", "projects", "about", "contacts"];
---

<header class="pt-10 pb-3 sticky top-0 inset-x-0 bg-bgColor">
  <nav class="flex justify-between">
    <p>Navbar</p>

    <ul class="hidden md:flex gap-x-7">
      {
        links.map((link) => (
          <li class="flex before:content-['#'] before:text-primary">
            <a
              class="transition-colors text-gray hover:text-white"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
            >
              {link}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
