---
interface Props {
  size: number;
  class?: string;
  gridCols?: string;
}

const { size, class: className, gridCols } = Astro.props;
---


<div class:list={["grid", className || "gap-4", gridCols ? `grid-cols-${gridCols}` : "grid-cols-5"]}>
  {Array.from(new Array(size)).map((_) => (
    <span class="w-1 h-1 rounded-full bg-gradient-to-br from-primary to-accent bg-fixed" />
  ))}
</div>