---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<li class="flex before:content-['#'] before:bg-gradient-to-br before:from-primary before:to-accent before:bg-clip-text before:text-transparent">
  <a class="transition-colors text-gray hover:text-white" href={href || "#"}>
    <slot />
  </a>
</li>
