---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<span class:list={["bg-gradient-to-br bg-clip-text text-transparent", className || "from-primary to-accent"]}>
  <slot />
</span>