<div class="md:basis-3/5 flex flex-col gap-y-6 font-thin text-sm md:text-base text-gray tracking-tight">
  <p class="leading-6">Hi, i'm Zulmy Azhary (a.k.a. Zoel)!</p>
  <p class="leading-6">I'm currently a college student pursuing a bachelor's degree in computer science at Unitama.</p>
  <p class="leading-6">I'm a hardworking and dedicated college student with a strong passion for computer science, and I'm looking forward to a successful career in this exciting and constantly evolving industry.</p>
  <p class="leading-6"> In my free time, I enjoy learning about new technologies and programming languages and build website projects that can train me to be proficient in the field of web development, as well as staying up to date with the latest trends in the field.</p>
</div>