---
import Button from "@components/atoms/Button.astro";
import Heading from "@components/atoms/Heading.astro";

type Section = "about" | "projects" | "skills" | "contacts";

interface Props {
  section?: Section;
}

const { section } = Astro.props;

---

<div class="flex justify-between flex-col md:flex-row">
  <Heading>{section}</Heading>
  {section === "projects" && <Button class="self-end md:self-auto">View all {"~~>"}</Button>}
</div>