---
import AboutContent from "@components/molecules/AboutContent.astro";
import Header from "@components/molecules/Header.astro";
import Test from "@components/molecules/Test.md";
---

<section class="min-h-[1000px]">
  <Header section={"about"} />
  <div class="flex mt-20">
    <AboutContent />
    <div class="basis-2/5"><Test /></div>
  </div>
</section>
