---
import HeroContent from "@components/molecules/HeroContent.astro";
import HeroImage from "@components/molecules/HeroImage.astro";
---

<section class="flex items-center">
  <HeroContent />
  <HeroImage />
</section>