---
import NavList from "@components/molecules/NavList.astro";
import Logo from "@components/atoms/Logo.astro";
---

<header class="pt-10 pb-3 sticky top-0 inset-x-0 bg-bgColor">
  <nav class="flex justify-between">
    <Logo />
    <NavList />
  </nav>
</header>
