<section class="my-20">
  <div class={"w-9/12 text-center mx-auto flex flex-col justify-center items-center"}>
    <h3 class="w-full text-xl py-10 px-9 border-[1px] border-gray relative before:absolute after:absolute before:content-['“'] after:content-['”'] before:inline-block after:inline-block before:text-7xl after:text-7xl before:bg-bgColor after:bg-bgColor before:text-gray after:text-gray before:left-10 before:-top-4 after:-bottom-4 after:right-10 before:p-1 after:p-1 before:h-8 after:h-8">Code is like humor. When you have to explain it, it's bad.</h3>
    <h5 class="w-fit text-lg self-end before:content-['-'] before:mr-3 py-5 px-6 border-[1px] border-gray">Cory House</h5>
  </div>
</section>